BODY { MARGIN: 0px; FONT-FAMILY: Arial, Helvetica, sans-serif; color: #003366; background-image: url(fon/fon.png);
}link{	COLOR: Green;	text-decoration: none;
}a:link{	COLOR: #003366;	text-decoration: none;
}a:hover {COLOR: #003366;	text-decoration: underline;
}A:active {COLOR: #003366;	TEXT-DECORATION: underline;
}A.postlink {COLOR: #003366;	TEXT-DECORATION: none;
}a:visited {color: #003366; text-decoration: none;
}